<%= link_to 'Nuevo cliente', new_cliente_path, class: 'btn btn-primary' %>

<div align="center">
  <%= will_paginate %>
</div>

<br />

<%= render 'shared/cliente_info', obj: @clientes %>

<div align="center">
  <%= will_paginate %>
</div>
