<%= link_to 'Crear nuevo egreso', new_egreso_path, class: 'btn btn-primary' %>
<br>
<br>

<div align="center">
  <%= will_paginate %>
</div>

<br/>

<%= render 'egreso_info', obj: @egresos %>

<div align="center">
  <%= will_paginate %>
</div>