<h1>Estadísticas de Disipadores de Calor de Aluminio a Tu Medida</h1>

<%= link_to 'Ir a Ventas', ventas_path, class: 'btn btn-info' %>
<br>
<%= column_chart [
{name: "Longitud 87mm", data: Venta.group_by_month(:fecha, format: "%b").sum(:longitud_87mm)},
{name: "Longitud 75mm", data: Venta.group_by_month(:fecha, format: "%b").sum(:longitud_75mm)},
{name: "Longitud 136mm", data: Venta.group_by_month(:fecha, format: "%b").sum(:longitud_136mm)}] %>




